html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Jura', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}



.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.header__menu {
  display: flex;
  gap: 30px;
  font-size: 16px;
}
.header__icons {
  display: flex;
  gap: 10px;
}

.header__slider-items {
  overflow-x: hidden;
}
.header__slider-item {
  height: calc(100vh - 60px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1px;
}
.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}
.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.5);
}

.header__slider-content {
  position: absolute;
  right: 80px;
  bottom: 95px;
}

.header__slider-text {
  font-size: 14px;
  line-height: 18px;
  width: 255px;
  margin-bottom: 26px;
}
.header__slider-btn {
  display: inline-block;
  font-size: 18px;
  border: 3px solid #F8F8F8;
  padding: 10px;
  width: 250px;
  box-sizing: border-box;
  text-align: center;
}

.collection {
  padding: 60px 0 70px;
}
.collection__item, .releases__item {
  margin-bottom: 90px;
  position: relative;
}
.collection__title {
  margin-bottom: 52px;
}
.collection__swiper, .releases__swiper {
  overflow: hidden;
}
.collection__swiper-img {
  margin-bottom: 10px;
}
.collection__swiper-text {
  max-width: 220px;
  text-align: center;
  margin: 0 auto;
  transform: translateX(-6%);
}
.releases-button-next, .collection-button-next {
  right: -20px;
}
.releases-button-prev, .collection-button-prev {
  left: -50px;
}